* {
  font-family: 'Press Start 2P';
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #232323;
  height: 100vh;
}

.game-title-text {
  color: #FFF;
}
